name: Sync

on:
  schedule:
    # 15 minutes after josh/imdb-data runs
    # https://github.com/josh/imdb-data/blob/61b99a9/.github/workflows/sync.yml#L5C5-L5C32
    - cron: "30 0,5,19,23 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    concurrency: sync

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies
        run: uv sync

      - name: Sync
        run: |
          uv run imdb-plex-sync
        env:
          IMDB_WATCHLIST_URL: ${{ vars.IMDB_WATCHLIST_URL }}
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
