name: Test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies
        run: uv sync

      - name: Sync (Dry Run)
        run: |
          uv run imdb-plex-sync --dry-run
        env:
          IMDB_WATCHLIST_URL: ${{ vars.IMDB_WATCHLIST_URL }}
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
